// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

  $teal:      #3DCAC2;
  $blue:      #1A688A;
  $pink:      #C0156B;
  $green:     #71A60F;
  $yellow:    #FFE35A;
  $darkgrey:  #373B3E;
  $grey:      #535556;
  $purple:    #9377A5;
  $darkpurple:#312B56;
  $tan:       #EAD4C0;
  $lighttan:  #ECDFCD;
  $midtan:    #DABDAB;
  $darktan:   #AA8677;
  $light:     #E0E6E2;

  body {
    margin: 0;
    padding: 0;
  }